---
import Layout from '~/layouts/BaseLayout.astro';
import { getEntry } from 'astro:content'

const project = await getEntry('projects', 'sudoko-solver')!;
---
<script>
  import init, { solve } from './wasm';

  type SudokoSolverContext = {
    container: HTMLDivElement;
    canvas: HTMLCanvasElement;
    canvasCtx: CanvasRenderingContext2D;
    blockSelection: [number, number];
    nodeSize: number;
    blockSize: number;
  };

  await init();

  class SudokoSolver extends HTMLElement {
    connectedCallback() {
      const container = this.querySelector('div')!;
      const canvas = this.querySelector('canvas')!;
      const ctx: SudokoSolverContext = {
        canvasCtx: canvas.getContext("2d")!,
        blockSelection: [0, 0],
        nodeSize: container.clientWidth / 9,
        blockSize: container.clientWidth / 3,
        container,
        canvas,
      };

      canvas.width = ctx.container.clientWidth;
      canvas.height = ctx.container.clientWidth;
      this.draw(ctx);

      window.addEventListener("resize", () => {
        canvas.width = ctx.container.clientWidth;
        canvas.height = ctx.container.clientWidth;
        this.draw(ctx);
      });

      canvas.addEventListener("mousedown", (e) => {
        ctx.blockSelection[0] = Math.floor(e.offsetX / ctx.nodeSize);
        ctx.blockSelection[1] = Math.floor(e.offsetY / ctx.nodeSize);
        this.draw(ctx);
      });
    }

    draw({
      canvasCtx: ctx,
      blockSelection: [selectionX, selectionY],
      nodeSize,
      blockSize
    }: SudokoSolverContext) {
      // Color the board
      ctx.fillStyle = "white";
      ctx.fillRect(0, 0, ctx.canvas.width, ctx.canvas.height);

      // Draw the current selected node in the grid
      ctx.fillStyle = "#2b7fff"
      ctx.fillRect(nodeSize * selectionX, nodeSize * selectionY, nodeSize, nodeSize);

      // Draw the 9x9 grid
      ctx.strokeStyle = "black";
      ctx.lineWidth = 1;
      for (let y = 0; y < 9; y++) {
        for (let x = 0; x < 9; x++) {
          ctx.strokeRect(nodeSize * x, nodeSize * y, nodeSize, nodeSize);
        }
      }

      // Draw the bold 3x3 grid
      ctx.strokeStyle = "black";
      ctx.lineWidth = 5;
      for (let y = 0; y < 3; y++) {
        for (let x = 0; x < 3; x++) {
          ctx.strokeRect(blockSize * x, blockSize * y, blockSize, blockSize);
        }
      }
    }
  }
  customElements.define('app-sudoko-solver', SudokoSolver);
</script>

<Layout title="Sudoko Solver">
  <div class="flex mb-4">
    <p class="text-xl font-semibold">Sudoko Solver</p>
    <a
      class="border border-gray-300 rounded-md p-2 bg-neutral-100 ml-auto hover:underline"
      href=`/projects/${project.id}`
    >
      Read More
    </a>
  </div>
  <app-sudoko-solver>
    <div class="w-full">
      <canvas class="mx-auto" />
    </div>
  </app-sudoko-solver>
</Layout>
