---
import Layout from '~/layouts/BaseLayout.astro';
import { getEntry } from 'astro:content'

const project = await getEntry('projects', 'sudoko-solver')!;
---
<script>
  import init, { solve } from './wasm';

  await init();

  class SudokoSolver extends HTMLElement {
    connectedCallback() {

      const container = this.querySelector('div')!;
      const canvas = this.querySelector('canvas')!;
      const ctx = canvas.getContext("2d")!;

      canvas.width = container.clientWidth;
      canvas.height = container.clientWidth;

      const draw = () => {
        const node_size = container.clientWidth/9;
        const block_size = container.clientWidth/3;

        // Color the board
        ctx.fillStyle = "white";
        ctx.fillRect(0, 0, canvas.width, canvas.height);

        // Draw the 9x9 grid
        ctx.strokeStyle = "black";
        ctx.lineWidth = 1;
        for (let y = 0; y < 9; y++) {
          for (let x = 0; x < 9; x++) {
            ctx.strokeRect(node_size * x, node_size * y, node_size, node_size);
          }
        }

        // Draw the bold 3x3 grid
        ctx.strokeStyle = "black";
        ctx.lineWidth = 5;
        for (let y = 0; y < 3; y++) {
          for (let x = 0; x < 3; x++) {
            ctx.strokeRect(block_size * x, block_size * y, block_size, block_size);
          }
        }
      };
      draw();

      window.addEventListener("resize", () => {
        canvas.width = container.clientWidth;
        canvas.height = container.clientWidth;
        draw();
      });

      const input = new Int32Array(81);
      input[8] = 2;
      input[11] = 7;
      input[15] = 5;
      input[16] = 6;
      input[19] = 8;
      input[20] = 3;
      input[29] = 8;
      input[30] = 1;
      input[34] = 3;
      input[36] = 7;
      input[41] = 8;
      input[43] = 1;
      input[48] = 4;
      input[49] = 7;
      input[52] = 8;
      input[54] = 3;
      input[55] = 4;
      input[59] = 6;
      input[68] = 5;
      input[72] = 2;
      input[74] = 6;
      input[76] = 9;
      input[79] = 7;
      console.log(solve(input));
    }
  }
  customElements.define('app-sudoko-solver', SudokoSolver);
</script>

<Layout title="Sudoko Solver">
  <div class="flex mb-4">
    <p class="text-xl font-semibold">Sudoko Solver</p>
    <a
      class="border border-gray-300 rounded-md p-2 bg-neutral-100 ml-auto hover:underline"
      href=`/projects/${project.id}`
    >
      Read More
    </a>
  </div>
  <app-sudoko-solver>
    <div class="w-full">
      <canvas class="mx-auto" />
    </div>
  </app-sudoko-solver>
</Layout>
