  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /*
  * {
    outline: 1px solid lightgray;
  }
  */

  html {
    height: 100%;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  }

  body {
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background: #eee;
  }
