---
import Layout from '~/layouts/BaseLayout.astro';
---
<script>
  import init, { roll } from './wasm';

  await init();

  class DiceRoll extends HTMLElement {
    connectedCallback() {
      const inputTextarea = this.querySelector<HTMLTextAreaElement>('#input')!;
      const rollButton = this.querySelector<HTMLButtonElement>('#roll')!;
      const outputTextarea = this.querySelector<HTMLTextAreaElement>('#output')!;

      rollButton.addEventListener('click', () => {
        outputTextarea.textContent = roll(inputTextarea.value);
      });
    }
  }
  customElements.define('dice-roll', DiceRoll);
</script>

<Layout title="Dice Roll">
  <header class="text-4xl font-semibold text-center">
    <span>Dice Roll</span>
  </header>
  <dice-roll>
    <div class="flex flex-col space-y-8 items-center mt-8">
      <div class="flex flex-col w-full">
        <label for="input" class="font-medium">Input</label>
        <textarea
          id="input"
          rows="4"
          class="bg-neutral-100 rounded-md border border-gray-300 p-3.5"
        >2d20 + 1d10 + 2</textarea>
        <button
          id="roll"
          class="text-white bg-blue-500 box-border border border-transparent hover:bg-blue-600
          shadow-xs font-semibold leading-5 rounded-md px-4 py-2.5 focus:outline-none ml-auto mt-4 w-32"
        >
          Roll
        </button>
      </div>
      <div class="flex flex-col w-full">
        <label for="output" class="font-medium">Output</label>
        <textarea
          id="output"
          class=" bg-neutral-100 rounded-md border border-gray-300 p-3.5"
          rows="4"
          readonly
          disabled
        />
      </div>
    </div>
  </dice-roll>
</Layout>
