---
import Layout from '~/layouts/BaseLayout.astro';
import { getEntry } from 'astro:content'

const project = await getEntry('projects', 'emojify')!;
---
<script>
  import init, { emojify } from './wasm';

  await init();

  class Emojify extends HTMLElement {
    connectedCallback() {
      const inputTextarea = this.querySelector<HTMLTextAreaElement>('[data-name="input"]')!;
      const emojifyButton = this.querySelector<HTMLButtonElement>('[data-name="emojify"]')!;
      const outputTextarea = this.querySelector<HTMLTextAreaElement>('[data-name="output"]')!;

      emojifyButton.addEventListener('click', () => {
        outputTextarea.textContent = emojify(inputTextarea.value);
      });
    }
  }
  customElements.define('app-emojify', Emojify);
</script>

<Layout title="Emojify">
  <div class="flex mb-4">
    <p class="text-xl font-semibold">Emojify</p>
    <a
      class="border border-gray-300 rounded-md p-2 bg-neutral-100 ml-auto hover:underline"
      href=`/projects/${project.id}`
    >
      Read More
    </a>
  </div>
  <app-emojify>
    <div class="flex flex-col space-y-8 items-center mt-8">
      <div class="flex flex-col w-full">
        <label for="input" class="font-medium">Input</label>
        <textarea
          data-name="input"
          class="bg-neutral-100 rounded-md border border-gray-300 p-3.5"
          rows="4"
        >The message that you would like to emojify!</textarea>
        <button
          data-name="emojify"
          class="text-white bg-blue-500 box-border border border-transparent hover:bg-blue-600
          shadow-xs font-semibold leading-5 rounded-md px-4 py-2.5 focus:outline-none ml-auto mt-4 w-32"
        >
          Emojify
        </button>
      </div>
      <div class="flex flex-col w-full">
        <label for="output" class="font-medium">Output</label>
        <textarea
          data-name="output"
          class="bg-neutral-100 rounded-md border border-gray-300 p-3.5"
          rows="4"
          readonly
          disabled
        />
      </div>
    </div>
  </app-emojify>
</Layout>
