---
import Layout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import Card from '../components/Card.astro';
import PostsContainer from '../components/PostsContainer.astro';

const rankedProjects = (await getCollection('project', (entry) => {
  return entry.data.rank !== undefined;
}))
  .sort((a, b) => a.data.rank! - b.data.rank!);

const rankedPosts = (await getCollection('blog', (entry) => {
  return entry.data.rank !== undefined;
}))
  .sort((a, b) => a.data.rank! - b.data.rank!);
---

<style>
  header {
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  section {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .showcase {
    margin-top: 1.5rem;
  }

  .showcase p {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .showcase-header {
    display: flex;
    margin-bottom: 1rem;
  }

  .showcase-header a {
    text-decoration: none;
    color: var(--primary-text-color);
    border: 1px solid lightgray;
    border-radius: 6px;
    padding: 0.5rem;
    background: var(--button-background);
  }

  .showcase-header a:hover {
    text-decoration: underline;
  }

  .push {
    margin-left: auto;
  }

  .container {
    display: grid;
    grid-gap: 1rem;
  }
</style>

<Layout title="Hamologist">
  <header>
    <p>Hello, I'm Jordan :^)</p>
  </header>
  <section>
    <p>I'm a software engineer and this is my little slice of the internet. I keep my projects here and write about technical things I find interesting.</p>
  </section>
  <section class="showcase">
    <div class="showcase-header">
      <p>Projects</p>
      <a class="push" href="/projects">View All</a>
    </div>
    <div class="container">
      {rankedProjects.slice(0, 3).map(project => (
        <Card
          title={project.data.title}
          description={project.data.description}
          slug={project.slug}
        />
      ))}
    </div>
  </section>
  <section class="showcase">
    <div class="showcase-header">
      <p>Latest Posts</p>
      <a class="push" href="/blogs">View All</a>
    </div>
    <PostsContainer posts={rankedPosts.slice(0, 3).map((post) => ({
      title: post.data.title,
      url: `/blogs/${post.slug}`,
    }))}/>
  </section>
</Layout>

