---
export type Props = {
  title: string;
  slug: string;
  description: string;
  demoLink?: string;
  postLink?: string;
  repoLink?: string;
};

const { title, slug, description, demoLink, postLink, repoLink } = Astro.props;
---

<style>
  .card {
    background: var(--secondary-background);
    border: 1px solid lightgray;
    border-radius: 6px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

  a.title {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--main-text-color);
  }

  a.title:hover {
    text-decoration: underline;
  }

  .description {
    font-size: 0.9rem;
    color: var(--secondary-text-color);
  }

  .links {
    font-size: 0.9rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .links a {
    border: 1px solid lightgray;
    border-radius: 6px;
    padding: 0.5rem;
    background: var(--button-background);
    text-decoration: none;
    color: var(--main-text-color);
  }

  .links a:hover {
    text-decoration: underline;
  }
</style>

<div class="card">
  <div>
    <a href="#" class="title">{title}</a>
    <p class="description">{description}</p>
  </div>
  <div class="links">
    <a href={`/projects/${slug}`}>Read More</a>
    <a href="#">Github</a>
  </div>
</div>
