<style>
  footer {
    margin-top: auto;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 3rem;
  }

  .container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    max-width: 400px;
  }

  .container div {
    flex-basis: 100%;
    text-align: center;
  }

  img {
    vertical-align: bottom;
  }

  span {
    margin-right: 0.25rem;
  }

  a {
    text-decoration: none;
    color: var(--main-text-color);
  }

  a:hover {
    text-decoration: underline;
  }

</style>

<footer>
  <div class="container">
    <div>
      <a href="https://www.github.com/hamologist">
        <span>Github</span>
        <img src="/icons/github.svg" />
      </a>
    </div>
    <div>
      <a href="https://www.linkedin.com/in/derrick-paris-7bb14aa4/">
        <span>LinkedIn</span>
        <img src="/icons/linkedin.svg" />
      </a>
    </div>
    <div>
      <a href="mailto:hamologist@gmail.com">
        <span>Email</span>
        <img src="/icons/mail.svg" />
      </a>
    </div>
  </div>
</footer>
