---
const socialItems: { title: string, href: string, imgSrc: string }[] = [
  {
    title: "Github",
    href: "https://www.github.com/hamologist",
    imgSrc: "/icons/github.svg"
  },
  {
    title: "LinkedIn",
    href: "https://www.linkedin.com/in/derrick-paris-7bb14aa4/",
    imgSrc: "/icons/linkedin.svg"
  },
  {
    title: "Email",
    href: "mailto:dev.jordan.paris@proton.me",
    imgSrc: "/icons/mail.svg"
  },
];
---

<footer class="mt-auto mx-6 mb-12">
  <div class="flex space-x-4 mx-auto mt-16 max-w-lg">
    {socialItems.map((item) => (
      <div class="mx-auto text-center">
        <a
          class="flex no-underline text-black hover:underline"
          href={item.href}
        >
          <span class="mr-1">{item.title}</span>
          <img src={item.imgSrc} />
        </a>
      </div>
    ))}
  </div>
</footer>

