<style>
  nav {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
  }

  .push-right {
    margin-left: auto;
  }

  nav a {
    text-decoration: none;
    color: black;
  }

  nav a:hover {
    text-decoration: underline;
  }

  nav span {
  }

  nav button {
    all: unset;
    cursor: pointer;
  }

  nav img {
    vertical-align: bottom;
  }
</style>

<nav>
  <div>
    <a href="/">
      <img src="icons/house.svg" />
      <span>Jordan Paris</span>
    </a>
  </div>
  <div class="push-right">
    <button>
      <img src="/icons/menu.svg" />
    </button>
  </div>
</nav>
