---
export type Props = {
  posts: {
    title: string;
    url: string;
  }[];
};

const { posts } = Astro.props;
---

<div>
  {posts.map(post => (
    <a href={post.url}>{post.title}</a>
  ))}
</div>
