---
import Layout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import PostContainer from '../../components/PostContainer.astro';

const rankedPosts = (await getCollection('blogs'))
  .sort((a, b) => a.data.rank! - b.data.rank!);
---

<Layout title="Hamologist">
  <header class="text-4xl font-semibold">
    <span>Posts</span>
  </header>
  <section class="mt-6">
    <PostContainer posts={rankedPosts.map((post) => ({
      title: post.data.title,
      url: `/blog/${post.id}`,
    }))}/>
  </section>
</Layout>

