---
import Layout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import PostContainer from '../../components/PostContainer.astro';

const rankedPosts = (await getCollection('blog'))
  .sort((a, b) => a.data.rank! - b.data.rank!);
---

<style>
  header {
    font-size: 2.0rem;
    font-weight: 600;
  }

  section {
    margin-top: 1.5rem;
  }
</style>

<Layout title="Hamologist">
  <header>
    <span>Posts</span>
  </header>
  <section>
    <PostContainer posts={rankedPosts.map((post) => ({
      title: post.data.title,
      url: `/blog/${post.id}`,
    }))}/>
  </section>
</Layout>

