---
import Footer from '~/components/Footer.astro';
import '~/styles/global.css';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---
<script>
  // TODO: Reimplement mobile nav modal
</script>

<!DOCTYPE html>
<html class="h-full" lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="flex flex-col min-h-full bg-neutral-200">
    <!-- >
      Add back missing Nav block
    <-->
    <main class="mx-4">
      <div class="mx-auto max-w-6xl">
        <slot />
      </div>
    </main>
    <Footer />
	</body>
</html>

